.o_game {
    margin: 4% 27%;
    display: flex;
    justify-content: space-between;
    font-family: "Comic Sans MS", "Segoe UI", sans-serif;
}

.game-info {
    font-size: 20px;
    margin-left: 75px;
}